* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Rubik', sans-serif;
}


:root {
    --flex : flex;
    --Center : center;
    --mainColor : #001128;
    --secondary : #3F76BF;
    --absolute : absolute;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 70px;
    z-index: 2;
    display: var(--flex);
    align-items: var(--Center);
    justify-content: space-around ;
}
nav .brand {
    margin-top: 10px;
}
nav .navigasi a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    color: black;
}


#main-nav li {
    position: relative;
    display: inline-block;
}
#main-nav li:hover #list-jurusan{
    display: block;
    opacity: 1;
}
#list-jurusan li {
    display: flex;
    align-items: center;
}
#list-jurusan {
    z-index: 2;
    width: 240px;
    padding: 1.5em;
    border-radius: 6px;
    position: absolute;
    left: -40px;
    top: 30px;
    display: none;
    transition: .4s;
    top: 20px;
    background-color: white;
}
#list-jurusan li a {
    color: black;
}

/* NAVBAR */
/* Sidebar */

#hamburger {
    display: none;
}
/* Sidebar */

/* MAIN */
.main {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(   0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Smkn7.jpg");
    display: var(--flex);
    align-items: var(--Center);
    background-attachment: fixed;
    justify-content: space-around;
    color: white;
}
.text-utama .title{
    font-weight: 700;
    width: 700px;
    animation: toRight 2s;
}
.secondary-text #userViewer {
    background-color: transparent;
    border: 0;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
#userViewer:focus {
    border: 2px solid white;
    outline: white;
} 
/* MAIN */


/* Salam */
.salam {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.text-salam {
    padding: 10em;
    position: relative;
    text-align: center;
}
.judul-salam {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#mark {
    color: lightgrey;
    font-size: 4em;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

/* Salam */
/* Kegiatan */
.organisasi {
    width: 100%;
    height: 100vh;
    display: flex;
}
.text-organisasi {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10em;
    color: white;
    background-color: var(--mainColor);
}
.title-organisasi {
    margin-bottom: 15px;
}
.teks {
    margin-bottom: 30px;
}
.judulKegiatan { margin-bottom: 40px; }
/* Kegiatan */


/* Kompetensi keahlian */
.jurusanTitle { text-align: center; padding-top: 20px; }
.jurusan {
    width: 100%;
    height: 30vh;
}
.jurusanWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.jurusanWrapper img { transition: all .5s; }

.jurusanWrapper img:hover {
    /* transform: translateY(-20px); */
    transform: scale(1.2);
}
/* Kompetensi keahlian */
/* Jurusan */
/* .jurusan-explain {margin-bottom: 5em;} */
.jurusan-explainTitle, .subtitleJurusan {
    text-align: center;
}
.jurusanExplain-wrapper {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}
#img-j {
    width: 50px;
    height: 50px;
    right: 40px;
    top: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: white;
}
.card-jurusan {
    color: white;
    width: 380px;
    height: 150px;
    padding: 3.4em;
    margin-top: 10px;
    position: relative;
    background-color: var(--mainColor);
    transition: .3s;
}
.card-jurusan:first-child{ border-radius: 20px 0px 0px 20px; }
.card-jurusan:nth-child(3) { border-radius: 0px 20px 20px 0px; }
.card-jurusan:nth-child(4){ border-radius: 20px 0px 0px 20px; }
.card-jurusan:nth-child(5) { border-radius: 0px 20px 20px 0px; }

.card-jurusan:hover {
    box-shadow: 15px 15px 15px lightgrey;
    transform: scale(1.05);
}
.explainTitle {
    margin-bottom: 20px;
}
.btn-jurusan {
    color: black;
    margin-top: 25px;
    padding: 6px 16px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    background-color: aliceblue;
}



/* Jurusan */




/* Prestasi Siswa */
.siswa {
    width: 100%;
    height: 130vh;
    margin-top: 5em; 
    position: relative;
}

.prestasiTitle {
    padding-top: 20px;
    text-align: center;
}
.prestasiSubtitle { text-align: center; }


.navigate {
    width: 90%;
    height: 50px;
    margin: 3em auto 0em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.navigate::after {
    content:  "";
    width: 90%;
    height: 6px;
    bottom: -10px;
    border-radius: 30px;
    position: absolute;
    background-color: lightgrey;
}
.pagination {
    width: 25%;
    height: 6px;
    bottom: -10px;
    left: 40px;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
    display: block;
    transform: translateX(0);
    background-color: var(--mainColor);
}
.navigate a {
    color: black;
    text-decoration: none;
}
.prestasi-content {
    width: 100%;
    height: 80vh;
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pres-title {
    color: black;
    font-size: 2em;
}
.pres-desc {
    margin-top: 10px;
}

.img-pres {
    width: 400px;
    height: 400px;
}
.img-pres img {
    width: 100%;
    height: 100%;
}
.images-pres {
    display: flex;
    width: 30%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-selengkapnya {
    color: white;
    padding: 10px 18px;
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    background-color: var(--mainColor);
    transition: .3s;
    border-radius: 20px;
}
.btn-selengkapnya:hover {
    box-shadow: 2px 0px 105px -4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 0px 105px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 0px 105px -4px rgba(0, 0, 0, 0.75);
        transform: translateY(-7px);
}


#futsal {
    position: absolute;
    top: 10.5em;
    display: none;
}
#pramuka-lkbb {
    position: absolute;
        top: 10.5em;
        display: none;
}
/* 
/* Prestasi Siswa */


/* Kegiatan  */
.kegiatan-rutin {
    margin-top: 7em;
    width: 100%;
    height: 180vh;
}
#kegiatanTitle {
    padding-top:20px;
    margin-bottom: 40px;
    text-align: center;
}
.card-kr {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: flex-end;
    /* background-position: 0px -300px; */
    background-attachment: fixed;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/upacara.jpeg");
}
.text-kr {
    width: 600px;
    height: 400px;
    color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 00px 0px 90px;
    background-color: var(--mainColor);
}
.upacara {
    margin-bottom: 20px;
}
#literasi {
    justify-content: flex-start;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/literasi2.jpeg");
}
.literasi {
    border-radius: 0px 0px 90px 00px;
}

/* Kegiatan  */


/* Gallery */
.gallery {
    width: 100%;
    height: 100vh;
    padding-top: 10em;
}
.galleryTitle, .gallerySubTitle {
    text-align: center;
}
.galleryWrapper {
    display: flex;
    margin-top: 3em;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    width: 506px;
    height: 300px;
    background-size: cover;
    /* background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('images/Gallery-1.jpeg'); */
}
/* Gallery */


/* join */
.join {
    width: 100%;
    height: 40vh;
    margin-top: 10em;
    position: relative;
}
.first {
    position: absolute;
    font-size: 2.6em;
    top: 3.6em;
    color: lightgrey;
}
.second {
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 2em;
    color: lightgrey;

}
.first:hover {
    color: yellow;
}
/* join */

/* kepsek */
.kepsek {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    background-color: var(--mainColor);
    justify-content: space-evenly;
}
.text-kepsek {
    color: lightgrey;
    padding: 2em;
    width: 350px;
    height: 200px;
    line-height: 1.5;
    position: relative;
    border-radius: 15px;
    transition: .5s;
    /* box-shadow: 3px 3px 8px lightgrey, -3px -3px 8px lightgrey; */
}
.text-kepsek:hover {
    box-shadow: 2px 2px 6px rgba(110, 109, 109, 0.301), 2px 2px 6px rgba(110, 109, 109, 0.301);
}
.kata-kepsek {
    font-weight: 500;
}
.title-kepsek {
    font-weight: 800;
}
.kepsek img {
    width: 300px;
}
/* kepsek */


/* footer */
.footer {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    justify-content: space-evenly;
    background-color: var(--mainColor);
}
.left {
    color: white;
}
.footerTitle { margin: 20px 0px; }
.mid {
    display: flex;
    flex-direction: column;
    color: white;
}
.mid a  {
    color: white;
    text-decoration: none;
}
.right {
    display: flex;
}
.right a {
    color: black; 
    margin-left: 20px;
    font-size: 2em;
    text-decoration: none;
}
#facebook:hover {
    color: blue;
}
#youtube:hover  {
    color: red;
}
#instagram:hover {
    color: orangered;
}
#youtube span {
    color: white;
    transition: all .4s;
    display: none;
}
#youtube:hover span { display: block; position: absolute;}

#facebook span {
    color: white;
    transition: all .4s;
    display: none;
}

#facebook:hover span {
    display: block;
    position: absolute;
}
#instagram span {
    color: white;
    transition: all .4s;
    display: none;
}

#instagram:hover span {
    display: block;
    position: absolute;
}
/* footer */

/* Credit */
    .credit {
        width: 100%;
        height: 35px;
        background-color: var(--mainColor);
        color: white;
        text-align: center;
    }
/* Credit */

 /* Proflie */
.profile {
    width: 100%;
    height: 70vh;
    color: white;
    background-size: cover;
    padding-top: 12em;
    background-attachment: fixed;
    background-color: saddlebrown;
    background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('images/sekolah.jpg');
}
.profile .konten  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-content {
    margin-bottom: 20px;
}
/* Proflie */


/* Animation */

.fade {
    animation: fade 3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes toRight {
    0% {
        margin-left: -10em;
    }100% {
        margin-left: 0em;
    }
}




/* Utilities */
.btn {
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--mainColor);
    transition: all .4s;
}
.btn:hover {
    box-shadow: 10px 10px 0px var(--secondary), -10px -10px 0px lightgrey;
}

.active {
    color: #3F76BF;
}
.fixed {
    position: fixed;
    background-color: white;
    box-shadow: 3px 3px 5px grey;
    transition: 1s;
}

.trans {
    animation: fadeLeft 1s;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        margin-left: -6em;
    }
    100% {
        opacity: 1;
        margin-left: 0em;
    }
}




/* Mobile */
@media screen and (max-width:867px) {
    nav .navigasi {
        display: none;
    }
    #hamburger {
        cursor: pointer;
        display: block;
    }
    /* SIDEBAR */
    .sidebar {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -80em;
        background-color: var(--mainColor);
    }
    .navigation-sidebar {
        display: flex;
        margin-top: 5em;
        font-size: 1.2em;
        align-items: center;
        flex-direction: column;
    }
    .navigation-sidebar a {
        color: white;
        margin-top: 20px;
        text-decoration: none;
    }
    .brand-sidebar {
        text-align: center;
        padding-top: 40px;
        color: white;
    }
    #close {
        color: white;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        font-size: 3em;
    }
    /* SIDEBAR */
    #img-kegiatan {
        max-width: 500px;
        margin: 0 auto;
    }

    .main {
        flex-direction: column;
        justify-content: center;
    }
    .title {
        text-align: center;
    }
    .subTitle {
        text-align: center;
    }
    .secondary-text, #userViewer {
        margin-top: 5em;
        text-align: center;
    }
    .text-salam {
        padding: 3em; 
    }

    .organisasi {
        /* margin-top: 60em; */
        flex-direction: column-reverse;
    }
    .organisasi img {
        width: 100%;
    }
    .text-organisasi {
        padding: 3em;
    }
    .jurusan {
        margin-top: 5em;
        flex-wrap: wrap;
    }
    .jurusan img {
        width: 50px;
    }

    .text-utama .title { 
        font-size: 1.5em;
        width: 300px;
        margin-bottom: 10px;
    }
    .main {
        background-position: -200px;
    }
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card img {
        width: 100%;
    }
    #img-futsal {
        height: 60%;
    }
    
    .text-futsal {
        padding: 3em;
        margin-top: -30px;
    }

    .speech { flex-direction: column-reverse; }

    .text-kr {
        width: 200px;
        height: 200px;
    }
    .card-kr {
        background-position: -300px;
    }
    #literasi {
        background-position: -400px;
    }
    .kegiatan-rutin {
        margin-top: 15em;
    }

    /* Card Jurusan */
    .card-jurusan {
        width: 280px;
        height: 150px;
        padding: 3em;
    }
    .card-jurusan:hover {
        transform: scale(1);
    }
    #img-j {
        right: 10px;
    }
    .jurusan-explain {
        margin-bottom: 50em;

    }
    /* Card Jurusan */
    /* Prestasi  */
    .siswa {
        margin-bottom: 5em;
    }
    .prestasi-content {
        flex-direction: column-reverse;
        margin-top: 8em;
    }
    .prestasiSubtitle {
        padding: 1em;
    }
    .navigate a {
        font-size: 15px;
    }
    .text-pres {
        margin-bottom: 100px;
        margin-top: 2em;
    }
    .text-pres .pres-title {
        font-size: 1em;
    }
    .pagination {
        width: 10%;
        margin-left: -40px;
    }
    .images-pres {
        width: 100%;
    }

    #pramuka-lkbb .text-pres {
        margin-left: 20px;
    }
     /* Prestasi  */
     .subtitleJurusan {
        width: 90%;
     }
    /* Join */
    .join {
        margin-top: 65em;
    }
    .first {
        font-size: 1.4em;
        left: 0%;
        transform: translateX(-50%);
        margin-top: 5em;
    } .second {
        font-size: 1.4em;
        transform: translateX(50%);
        right: 50%;
    }
    /* Join */


    /* footer */
    .footer {
        flex-direction: column;
    }
    .left {
        text-align: center;

    } .mid {
        margin-top: 1.5em;
        text-align: center;
    }
    .footerTitle { margin: 10px 0px; }

    /* footer */

    /* credit */
    .credit {
        height: 80px;
        padding-top: 20px;
    }
    .credit p {
        width: 80%;
        margin-left: 10%;
    }
     /* credit */

    /* Kepsek */
    .kepsek {
        flex-direction: column;
        height: 120vh;
    }

    .desc {
        font-size: 11px;
    }
    .jurusanExplain-wrapper2 {
        justify-content: center;
    }
    /* Kepsek */
    /* Profile */
    #yt {
        width: 90%;
    }
    /* Profile */

    .main-jurusan {
        background-position: center;
    }

    
    
    
}

@media screen and (min-width:867px ) and (max-width:1080px){
    .organisasi {
        display: flex;
        margin-top: 35em;
        flex-direction: column-reverse;
    }
    #img-organisasi {
        width: 100%;
    }
    .main {
        flex-direction: column;
        align-items: center;
        background-position: 0px 0px;
    }
    .card img {
        width: 60%;
    }
    .title {
        font-size: 3em;
    }
    .join {
        margin-top: 100em;
    }
    .first, .second {
        text-align: center;
        font-size: 20px;
    }
    .jurusan-explain {
        margin-bottom:50em;
    }
    .jurusanExplain-wrapper {
        flex-direction: column;
    }
    .card-jurusan { margin: 10px auto; }
    .sidebar {
        display: none;
    }


    .card-explain {
        width: 400px;
        height: 300px;
    }
    .card-jurusan {
        background-position: center;
    }
    #img-kegiatan {
        margin: 0em auto;
    }
}

@media screen and (min-width:1080px) {
    .title {
        font-size: 3.5em;
    }
    .jurusan-explain {
        width: 100%;
        height: 100vh;
        margin-top: 9em;
        margin-bottom: 20em;
    }
    .sidebar {
        display: none;
    }

    .main-jurusan {
        background-position: 0px 900px;
    }

}

@media screen and (min-width:1920px) {

    .text-salam {
        font-size: 2em;
    }

    .jurusanTitle {
        font-size: 2em;
    }
    .jurusan-explain {
        margin-bottom: -10em;
        margin-top: 20em;
    }
    .jurusanWrapper img {
        width: 200px;
    }
    .jurusan-explainTitle {
        font-size: 2em;
    }
    .jurusanExplain-wrapper {
        width: 80%;
        margin: 10px auto;
    }
    .card-jurusan {
        width: 500px;
    }

    .organisasi .teks {
        font-size: 1.7em;
    }
    .judul-kegiatan {
        font-size: 4em;
    }

    .siswa {
        margin-bottom: -20em;
    }
    .navigate a {
        font-size: 1.8em;
    }
    .prestasiTitle {
        font-size: 2em;
    }
    .pres-title {
        font-size: 4em;
    }

    .text-kepsek {
        width: 500px;
        margin-top: -70px;
    }
    .text-kepsek .kata-kepsek {
        font-size: 2em;
    }
    .title-kepsek {
        font-size: 2.3em;
    }


    .gallery {
        margin-bottom: -40em;
    }

}



/* RPL Pages */
.hiro {
    width: 100%;
    height: 90vh;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    position: relative;
    background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./images/RPL1.jpeg");
}
.title-rpl {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 65%;
}
.text-rpl {
    font-weight: 500;
    padding: 2em;
    width: 500px;
    text-align: justify;
}
.text2-rpl {
    font-weight: 500;
    padding: 2em;
    width: 500px;
}
.mentor {
    width: 100%;
    height: 80vh;
    background-color: var(--mainColor);
}
.title-mentor { color: white; text-align: center;
padding-top: 20px; }
.mentor-text {
    width: 500px;
    color: white;
    margin: 10px auto;
    text-align: center;
}
.mentor-text img {
    margin-bottom: 30px;
}
.lokasi { text-align: center; margin-top: 4em; }
.content {
    margin-top: 200px;
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,.5)), url('images/RPL1.jpeg');
}
.why-title {
    text-align: center;
}
.why {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-desc {
    color: white;
    padding: 1em;
    position: absolute;
    font-size: 4em;
}
.content-desc2 {
    color: white;
    padding: 1.5em;
    top: 8em;
    right: 0;
    position: absolute;
    font-size: 4em;
    text-align: right;
}
.content2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.title-offering {
    font-size: 3em;
    position: absolute;
}



/* Jurusan Pages */
.main-jurusan {
    width: 100%;
    height: 60vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url("images/Smkn7.jpg");
}
.pilihan {
    width: 100%;
    height: 100vh;
}
.card-pilihan-wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-evenly;
}
.card-pilihan {
    width: 200px;
    color: rgb(111, 110, 110);
    padding: 3em;
    margin-top: 2em;
    background-color: lightgrey;
    transition: .2s;
    box-shadow: 7px 7px 10px lightgrey;
    cursor: pointer;
}
.card-pilihan:hover {
    color: white;
    background-color: #001128;
    box-shadow: 0px 0px 0px lightgrey;
}
 /* Jurusan Pages */

 /* Footer */
 footer {
    margin-top: 10em;
    width: 100%;
    height: 40em;
    color: white;
    text-align: center;
    background-color: var(--mainColor);
 }
 /* Footer */